.btn {
  &__svg {
    fill: var(--color-neutral-300);

    @include mobile-only {
      max-width: $size-lg;
      max-height: $size-lg;
    }

    @include mobile {
      max-width: $size-xl;
      max-height: $size-xl;
    }
  }
}

.header-btn {
  border: $border-width-medium solid var(--color-neutral-300);
  border-radius: $border-radius-md;
  @include flex-center;
  aspect-ratio: 1 / 1;

  @include mobile-only {
    width: $size-3xl;
  }

  @include mobile {
    width: $size-3xl;
  }
}
