%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
